@model List<Playlist.Zone.Dto.Music.Charts.AbstractChartDto>
@{
    ViewData["Title"] = "Charts";
}




<div class="row row-item">


    <div class="col-md-3">
        <h2>@Compiler.Common.Music.ChartType.Shazam.ToString()</h2>
        <ul>
            @foreach (var item in Model)
            {
                if (item.Type == Compiler.Common.Music.ChartType.Shazam)
                {
                    <li><a href="/Player/Chart/@item.Name">@item.Name</a></li>
                }
            }
        </ul>
        <a href="/Music/Generate/@((int)Compiler.Common.Music.ChartType.Shazam)" style="background-color:#439b58; color:#FFFFFF; padding:4px;">Generate Chart</a>
    </div>
    <div class="col-md-3">
        <h2>@Compiler.Common.Music.ChartType.Billboard.ToString()</h2>
        <ul>
            @foreach (var item in Model)
            {
                if (item.Type == Compiler.Common.Music.ChartType.Billboard)
                {
                    <li><a href="/Player/Chart/@item.Name">@item.Name</a></li>
                }
            }
        </ul>
        <a href="/Music/Generate/@((int)Compiler.Common.Music.ChartType.Billboard)" style="background-color:#439b58; color:#FFFFFF; padding:4px;">Generate Chart</a>
    </div>
    <div class="col-md-3">
        <h2>@Compiler.Common.Music.ChartType.iTunes.ToString()</h2>
        <ul>
            @foreach (var item in Model)
            {
                if (item.Type == Compiler.Common.Music.ChartType.iTunes)
                {
                    <li><a href="/Player/Chart/@item.Name">@item.Name</a></li>
                }
            }
        </ul>
        <a href="/Music/Generate/@((int)Compiler.Common.Music.ChartType.iTunes)" style="background-color:#439b58; color:#FFFFFF; padding:4px;">Generate Chart</a>
    </div>
    <div class="col-md-3">
        <h2>@Compiler.Common.Music.ChartType.YouTube.ToString()</h2>
        <ul>
            @foreach (var item in Model)
            {
                if (item.Type == Compiler.Common.Music.ChartType.YouTube)
                {
                    <li><a href="/Player/Chart/@item.Name">@item.Name</a></li>
                }
            }
        </ul>
        <a href="/Music/Generate/@((int)Compiler.Common.Music.ChartType.YouTube)" style="background-color:#439b58; color:#FFFFFF; padding:4px;">Generate Chart</a>
    </div>
</div>



<div class="row" style="margin-top:40px;">

    <div class="loc-md-6">

        <input type="button" id="LoadChartContentBtn" value="Load iTunes Content" />

    </div>

    <div class="loc-md-6">

    </div>

</div>



@section Scripts
{


    <script>

             $(document).ready(function () {

                 $("#LoadChartContentBtn").on("click", function () {

                     $.get("https://www.apple.com/itunes/charts/songs/", function (data) {
                         alert(data);
                     });

                 });

             });

    </script>


}