@model Compiler.Abstractions.Dto.System.User.AbstractUserDto
@{
    ViewData["Title"] = "Account Info";
    Layout = null;
}


<div class="row row-item">        
</div>



<div class="row row-item">

    <div class="col-md-3" style="padding:0px; margin:0 0 0 0;">

        <div class="sec-back my-acct-hdr-back1">
            <div class="my-acct-mn-title">
                Statistics
            </div>

            <div class="userPlstStats">
            </div>
        </div>

    </div>


    <div class="col-md-9">

        <div class="sec-back my-acct-hdr-back2">
            <div class="my-acct-mn-title">
                My Account
            </div>
        </div>

        <div class="my-acct-cnt-back1">

            <form asp-controller="Account" asp-action="Info" method="post">

                @Html.AntiForgeryToken()


                <div class="acct-left-col">

                    <div class="my-acct-cnt-item">
                        <div class="item-ttl">Name:</div>
                        <input asp-for="@Model.FirstName" placeholder="First name" class="itm-fname" />
                        <input asp-for="@Model.LastName" placeholder="Last name" class="itm-lname" />
                    </div>


                    <div class="my-acct-cnt-item">
                        <div class="item-ttl">Login:</div>
                        <div style="float:left; width:100%; padding:2px;">
                            <input asp-for="@Model.Username" placeholder="Username" class="itm-uname" readonly="readonly" />
                        </div>
                    </div>

                    <div class="my-acct-cnt-item">
                        <div class="item-ttl">Details:</div>
                        <div style="float:left; width:100%; padding:2px;">
                            <input asp-for="@Model.Email" placeholder="Email" class="itm-email" readonly="readonly" />
                        </div>
                    </div>

                    <div class="my-acct-cnt-item">
                        <div asp-validation-summary="All" class="acct-validation-summ"></div>
                        <input type="submit" value="Save" class="acct-save-btn" />
                    </div>

                </div>



                <div class="acct-right-col">

                    <div class="item-ttl">Member Since:</div>

                    <div style="float:left; width:100%; padding:2px;">
                        <input value="@Model.DteCreated.ToShortDateString()" style="width:80%; margin:0 1% 0 0; background-color:#dedede; border:1px solid #878787;" readonly="readonly" />
                    </div>

                </div>


            </form>

        </div>
    </div>


</div>




<script>
    $(document).ready(function () {

        $.get("/Account/User/Stats", function (data) {
            $(".userPlstStats").html(data);
        });
    });
</script>





