@model Compiler.Web.Playlist.Zone.Code.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/_LayoutLogin.cshtml";
}





<div class="register-box">



    <div style="float:left; width:100%;">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" title="Playlist.Zone" style="font-weight:bold;"><span>Playlist.Zone</span></a>
    </div>



    <form asp-controller="Account" asp-action="Register" method="post">

        @Html.AntiForgeryToken()


            <div class="cont-100">
                <div class="lgn-cnt-itm">Name:</div>
                
                <div class="lgn-cnt-itm">
                    <input asp-for="@Model.User.FirstName" placeholder="First name" class="txt-reg-fname" />
                </div>

                <div class="lgn-cnt-itm">
                    <input asp-for="@Model.User.LastName" placeholder="Last name" class="txt-reg-lname" />
                </div>
            </div>

            <div class="cont-100">
                <div class="lgn-cnt-itm">Login:</div>

                <div class="lgn-cnt-itm">
                    <input asp-for="@Model.User.Username" placeholder="Username" class="txt-reg-username" />
                </div>

                <div class="lgn-cnt-itm">
                    <input asp-for="@Model.User.Password" type="password" placeholder="Password" class="txt-reg-pass" />
                    <input id="repPass" name="repPass" type="password" placeholder="Repeat password" class="txt-reg-rep-pass" />
                </div>

            </div>


            <div class="cont-100">
                <div class="lgn-cnt-itm">Details:</div>

                <div class="lgn-cnt-itm">
                    <input asp-for="@Model.User.Email" placeholder="Email" class="txt-reg-email" />
                </div>
            </div>


            <div class="cont-100">
                <div asp-validation-summary="All" class="lgn-cnt-itm vld-result"></div>
                <input type="submit" value="Register" class="btn-register" />
            </div>


    </form>


</div>