@model Compiler.Web.Playlist.Zone.Code.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/_LayoutLogin.cshtml";
}





<div class="register-box">



    <div style="float:left; width:100%;">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" title="Playlist.Zone" style="font-weight:bold;"><span>Playlist.Zone</span></a>
    </div>



    <form asp-controller="Account" asp-action="Register" method="post">

        @Html.AntiForgeryToken()


        <div style="float:left; width:100%; padding:0 10px 10px 10px;">


            <div style="float:left; width:100%;">
                <div style="float:left; width:100%; font-weight:bold; margin:7px 0 0 0;">Name:</div>
                <input asp-for="@Model.User.FirstName" placeholder="First name" style="width:49%; margin:0 1% 1% 0; height:30px; line-height:30px; border-radius:3px; padding:0 4px 0 4px; border:1px solid #989898;" />
                <input asp-for="@Model.User.LastName" placeholder="Last name" style="width:49%; margin:0 1% 1% 0; height:30px; line-height:30px; border-radius:3px; padding:0 4px 0 4px; border:1px solid #989898;" />
            </div>



            <div style="float:left; width:100%;">

                <div style="float:left; width:100%; font-weight:bold; margin:7px 0 0 0;">Login:</div>

                <div style="float:left; width:100%; padding:2px;">
                    <input asp-for="@Model.User.Username" placeholder="Username" style="width:47%; margin:0 1% 0 0; height:30px; line-height:30px; border-radius:3px; padding:0 4px 0 4px; border:1px solid #989898;" />
                </div>

                <div style="float:left; width:100%; padding:2px;">
                    <input asp-for="@Model.User.Password" type="password" placeholder="Password" style="width:25%; margin:0 1% 0 0; height:30px; line-height:30px; border-radius:3px; padding:0 4px 0 4px; border:1px solid #989898;" />

                    <input id="repPass" name="repPass" type="password" placeholder="Repeat password" style="width:25%; margin:0 1% 0 0; height:30px; line-height:30px; border-radius:3px; padding:0 4px 0 4px; border:1px solid #989898;" />
                </div>

            </div>






            <div style="float:left; width:100%;">

                <div style="float:left; width:100%; font-weight:bold; margin:7px 0 0 0;">Details:</div>

                <div style="float:left; width:100%; padding:2px;">
                    <input asp-for="@Model.User.Email" placeholder="Email" style="width:33%; margin:0 1% 0 0; height:30px; line-height:30px; border-radius:3px; padding:0 4px 0 4px; border:1px solid #989898;" />
                </div>

            </div>






            <div style="float:left; width:100%;">
                <div asp-validation-summary="All" style="float:left; width:100%; color:#CC0000;"></div>

                <input type="submit" value="Register" style="float:right; background-color:#076ba6; border:none; border-radius:3px; color:#FFFFFF; padding:3px 60px 3px 60px;" />
            </div>

        </div>



    </form>


</div>