@model List<Playlist.Zone.Dto.Music.Playlist.AbstractPlaylistDto>
@{
    Layout = null;
}


<div style="float:left; width:100%;">
    
    <div class="plst-det-header">
        Popular Playlists
    </div>

    @foreach(var item in Model)
    {
        <div class="plst-Item" data-plstid="@item.Id" data-userid="@item.UserId">
            <div class="plst-det-n">@item.Name</div>
            <div class="plst-det-v">V: @item.ViewNum</div>
            <div class="plst-det-l">L: @item.LikeNum</div>
        </div>
    }
</div>




<script>

    var parentCont = undefined;
    
    $(document).ready(function () {

        $(".plst-Item").off("mouseover", "**");
        $(".plst-Item").off("mouseout", "**");
        $(".plst-Item").off("click", "**");

        $(".plst-Item").on("mouseover", function () {
            PlaylistItemMouseOver(this);
        });

        $(".plst-Item").on("mouseout", function () {
            PlaylistItemMouseOut(this);
        });

        $(".plst-Item").on("click", function () {
            PlaylistItemClick(this);
        });

        
        function PlaylistItemMouseOver(sender) {
            if ($(sender).hasClass("selected") == "plstSelected")
                return;

            $(sender).css("background-color", "#dedede");
            $(sender).children(".plst-DelPlst").css("background-color", "#cdcdcd");
        }


        
        function PlaylistItemMouseOut(sender) {

            $(sender).css("background-color", "");

            $(sender).children(".plst-DelPlst").each(function () {
                if ($(sender).hasClass("selected") != "plstSelected")
                    $(sender).css("background-color", "#dedede")
            });

        }


        function PlaylistItemClick(sender) {

            $(".plst-Item").removeClass("plstSelected");

            var plst_id = $(sender).attr("data-plstid");
            var user_id = $(sender).attr("data-userid");

            PreloaderOn("#SongsCH1");
            $.get("/Playlists/LoadPlaylistDetails/" + plst_id + "/" + user_id, function (playlistData) {
                $("#SongsCH1").html("");
                $("#SongsCH1").html(playlistData);
            });

            $(sender).addClass("plstSelected");
        }
        

        //load 1st playlist
        PlaylistItemClick($(".plst-Item").first());
    });

</script>







