@model Playlist.Zone.Dto.Music.Charts.AbstractChartDto
@{
    ViewData["Title"] = "Charts";
    Layout = null;
}




<div class="row row-item" style="margin:0 0 0 0;">

    <div class="col-md-2 chart-left-cmp">
        <h3 class="sd-chart-btn" data-chart-id="@((int)Compiler.Common.Music.ChartType.Shazam)">@Compiler.Common.Music.ChartType.Shazam.ToString()</h3>
        <div id="sd-chart-btn-@((int)Compiler.Common.Music.ChartType.Shazam)"></div>

        <h3 class="sd-chart-btn" data-chart-id="@((int)Compiler.Common.Music.ChartType.Billboard)">@Compiler.Common.Music.ChartType.Billboard.ToString()</h3>
        <div id="sd-chart-btn-@((int)Compiler.Common.Music.ChartType.Billboard)"></div>

        <h3 class="sd-chart-btn" data-chart-id="@((int)Compiler.Common.Music.ChartType.iTunes)">@Compiler.Common.Music.ChartType.iTunes.ToString()</h3>
        <div id="sd-chart-btn-@((int)Compiler.Common.Music.ChartType.iTunes)"></div>

        <h3 class="sd-chart-btn" data-chart-id="@((int)Compiler.Common.Music.ChartType.YouTube)">@Compiler.Common.Music.ChartType.YouTube.ToString()</h3>
        <div id="sd-chart-btn-@((int)Compiler.Common.Music.ChartType.YouTube)"></div>
    </div>



    <div class="col-md-6" style="margin:0%;">
        <div class="chrt-main-cont">

            <div class="chrt-name" data-plst-guid="@Model.Uid" >
                <div class="chrt-play-btn">Play</div>
                <div class="chrt-name-label">Chart - @Model.Name</div>
            </div>

            <div class="cont-100">
                @foreach(var item in Model.SongsList)
                {
                    <div class="chrt-SongItem" data-song-guid="@item.YouTubeId">
                        <img alt="" src="//i.ytimg.com/vi/@item.YouTubeId/mqdefault.jpg">
                        <span>@item.Artist - @item.Name</span>
                    </div>
                }
            </div>

            <div class="cont-100" style="height:23px;"></div>
        </div>
    </div>



    <div class="col-md-4 chart-right-cmp" style="margin:0%;">
        <div class="chrt-right-cont">

            <div class="chrt-name" data-plst-guid="@Model.Uid">
                <div class="chrt-play-btn">Play</div>
                <div class="chrt-name-label">Chart - @Model.Name</div>
            </div>

        </div>
    </div>

</div>




<script>
    $(document).ready(function () {

        $(".chrt-SongItem").on("mouseover", function () {
            $(this).css("background-color", "#dedede");
        });

        $(".chrt-SongItem").on("mouseout", function () {
            $(this).css("background-color", "#efefef");
        });

        $(".chrt-SongItem").on("click", function () {
            PlayerNavigatePlaySong($(this).attr("data-song-guid"));
        });

        $(".chrt-name").on("click", function () {
            PlayChart($(this).attr("data-plst-guid"));
        });

        $(".sd-chart-btn").on("click", function () {
            var typeId = $(this).attr("data-chart-id");
            $("#sd-chart-btn-" + typeId).html("loading...");

            $.get('/charts/list/type/' + typeId, function (data) {
                $("#sd-chart-btn-" + typeId ).html(data);
            });
        });

        $('div#SearchResultsCh').scroll(function () {
            if ($(window).width() > 1000) {
                $(".chart-left-cmp").css("padding-top", $(this).scrollTop() + "px");
                $(".chart-right-cmp").css("padding-top", ($(this).scrollTop() - 20) + "px");
            } else {
                $(".chart-left-cmp").css("padding-top", "0px");
                $(".chart-right-cmp").css("padding-top", "0px");
            }
        });
    });

    PlayChart = function (chart_uid) {
        OpenPlayer();
        $.get("/player/chart/" + encodeURIComponent(chart_uid), function (data) {
            $(".player-content").html(data);
        });
    }
</script>
