@model List< Playlist.Zone.Dto.Music.Charts.AbstractChartDto>
@{
    ViewData["Title"] = "Charts";
    Layout = null;
}



<div class="row row-item">
    <div class="col-md-12 main-back chrt-hdr-cnt">
        <div>Charts</div>
    </div>
</div>


<div class="row row-item" style="margin-top:20px;">
    <div class="col-md-12 artist-main-cnt">
        @foreach (var item in Playlist.Zone.Services.Helpers.Artist.ArtistHelper.GetPopularArtists())
        {
            <div class="itm-Srch-Artist" data-attr-artist="@item.Name" style="background:url('/images/singers/@item.Thumbnail') center; background-size:cover;"></div>
        }
    </div>
</div>


<div class="row row-item" style="margin:0 0 0 0;">


    <div class="col-md-4">
        <div class="cont-100">
            <h2 class="chrt-main-hdr">&nbsp;@Compiler.Common.Music.ChartType.Shazam.ToString()</h2>
            <ul class="crt-det-1">
                @foreach (var item in Model)
                {
                    if (item.Type == Compiler.Common.Music.ChartType.Shazam)
                    {
                        <li><a class="chrt-hm-item" onclick="LoadChart('@item.Uid')">@item.Name</a></li>
                    }
                }
            </ul>
        </div>
    </div>


    <div class="col-md-4">
        <div class="cont-100">
            <h2 class="chrt-main-hdr">&nbsp;@Compiler.Common.Music.ChartType.Billboard.ToString()</h2>
            <ul class="crt-det-1">
                @foreach (var item in Model)
                {
                    if (item.Type == Compiler.Common.Music.ChartType.Billboard)
                    {
                        <li><a class="chrt-hm-item" onclick="LoadChart('@item.Uid')">@item.Name</a></li>
                    }
                }
            </ul>
        </div>
    </div>
    

    <div class="col-md-4">
        <div class="cont-100">
            <h2 class="chrt-main-hdr">&nbsp;@Compiler.Common.Music.ChartType.iTunes.ToString()</h2>
            <ul class="crt-det-1">
                @foreach (var item in Model)
                {
                    if (item.Type == Compiler.Common.Music.ChartType.iTunes)
                    {
                        <li><a class="chrt-hm-item" onclick="LoadChart('@item.Uid')">@item.Name</a></li>
                    }
                }
            </ul>
        </div>
    </div>

</div>





<script>

    $(document).ready(function () {
        $(".chrt-hm-item").on("mouseover", function () {
            $(this).css("background-color", "#C8E3FA");
        });
        
        $(".chrt-hm-item").on("mouseout", function () {
            $(this).css("background-color", "#FFFFFF");
        });
    });


    LoadChart = function (chart_uid) {
        window.location = "/#charts/details/" + chart_uid;
        PreloaderOn("#SearchResultsCh");

        $.get("/charts/details/" + chart_uid, function (data) {
            $("#SearchResultsCh").html(data);
        });
    }

</script>
