@model Playlist.Zone.Dto.Music.Playlist.AbstractPlaylistDto
@{
    ViewData["Title"] = "Chart";
    Layout = null;
}


<div style="float:left; width:100%; height:100%;">



    <div style="float:left; width:100%; height:10%;">
        <div class="addLikeBtn" style="float:left; width:45%; margin:0px 0 0 2%; padding:2px 2% 2px 2%; text-align:center; background-color:#3077be; color:#FFF; border-radius:4px; cursor:pointer;">
            @Model.LikeNum Likes 
        </div>
        <div class="viewsNumBtn" style="float:left; width:45%; margin:0px 0 0 2%; padding:2px 2% 2px 2%; text-align:center; background-color:#3077be; color:#FFF; border-radius:4px; cursor:pointer;">
            @Model.ViewNum Views
        </div>
    </div>



    <div class="pls-controller">
        @foreach (var item in Model.SongsList)
        {
            <div class="plst-Itm" data-song="@item.YouTubeId" data-id="@item.Id">
                @item.Artist - @item.Name
            </div>
        }
    </div>


</div>






<script>

    $(document).ready(function () {

        $('.player-ttl').text('@Model.Name');

        $(".plst-Itm").click(function () {
            OnSongClick($(this));
        });


        $(".addLikeBtn").on("click", function () {
            $.get("/Data/Playlists/AddLike/@Model.Id", function (data) {
                $(".addLikeBtn").html(data + " Likes");
            });
        });


        $(".viewsNumBtn").on("click", function () {
        });


        OnSongClick($(".plst-Itm").first());

});






</script>






@section Scripts
{   
}