@model Playlist.Zone.Dto.Music.Song.AbstractSongDto
@{
    ViewData["Title"] = "Chart";
    Layout = null;
}


<div class="plr-ch">

    <div class="plst-controls">
        <div class="addLike">
            Likes @Model.ViewsNum
        </div>
        <div class="viewsNum">
            Views @Model.LikesNum
        </div>
    </div>


    <div class="pls-controller">
        <div class="plst-Itm" data-song="@Model.YouTubeId" data-id="@Model.Id">
            @Model.Artist - @Model.Duration
        </div>
    </div>

</div>




<script>
    $(document).ready(function () {
        OnSongClick($(".plst-Itm").first());
    })
</script>
